
/* 圆角 */
.radius10 {
	border-radius: 10upx;
}

.radius20 {
	border-radius: 20upx;
}

.radius30 {
	border-radius: 30rpx;
}

.radius40 {
	border-radius: 40rpx;
}

.radius50 {
	border-radius: 50rpx;
}

/* app 颜色 */
.bg-appblue {
	background: #0099FF;
	color: #ffffff;
}

.text-appcolor {
	color: #0099FF;
}

.user-image {
	width: 60rpx;
	height: 60rpx;
}

.input-login {
	width: 60%;
	text-align: center;
	margin-top: 50px;
	height: 88upx;
	line-height: 88upx;
}

.width100 {
	width: 100%;
	width: 750upx;
	box-sizing: border-box;
}

.width100 {
	width: 100%;
	width: 750upx;
	box-sizing: border-box;
}

.Image {
	width: 36rpx;
	height: 36rpx;
}

.iconImage{
	width: 66upx;
	height: 66upx;
}
.product-image {
	width: 100upx;
	height: 100upx;
}

.product-title {
	height: 100upx;
	line-height: 100upx;
}
.add-item{
	height: 64upx;
	line-height: 64upx;
}
.border{
	border: 1rpx solid #e8e8e8;
}
.border-gray{
	border: 1rpx solid #AAAAAA;
}
.border-bottom{
	border-bottom: 1rpx solid #e8e8e8;
}
.border-left{
	border-left: 1rpx solid #e8e8e8;
}
.icon-box{
	width: 50upx;
	height: 50upx;
	border-radius: 50upx;
}
/* 去隔边 */
.margin-top-none{
	margin-top: 0;
}
.margin-right-none{
	margin-right: 0;
}
.margin-bottom-none{
	margin-bottom: 0;
}
.margin-left-none{
	margin-left: 0;
}

/* 去填充 */
.padding-top-none{
	padding-top:0;
}
.padding-right-none{
	padding-right: 0;
}
.padding-bottom-none{
	padding-bottom: 0;
}
.padding-left-none{
	padding-left: 0;
}